body {
    background: linear-gradient(to top, #00ccff, #0051ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login {
    position: absolute;
    margin-top: -490px;
    width: 120px;
}

form {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}