/*body {
    background-color: rgba(102, 102, 102, 0.253);
}

.modelagem {
    opacity: 42%;
}
*/

.icons {
    width: 50px;
    height: 60px;
}

#menu {
    margin: 5px;
    position: relative;
    top: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 10px rgb(90, 90, 90);
}

.conversas {
    top: 5px;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20pt;
    font-weight: 900;
}

.chat {
    position: relative;
    top: 30px;
}

.modelagem {
    padding: 15px;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.144);
    background-color: rgba(200, 213, 255, 0.37);
    box-shadow: 0px 2px 10px rgba(90, 90, 90, 0.322);
}

.opcao {
    opacity: 100%;
    position: relative;
    top: 50px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}