/*body {
    background-color: rgba(102, 102, 102, 0.253);
}

.modelagem {
    opacity: 42%;
}
*/

.icons {
    width: 40px;
    height: 50px;
}

#menu {
    margin: 0px;
    position: relative;
    top: 10px;
    background-color: rgb(255, 255, 255);
}

.conversas {
    top: 10px;
    left: -20px;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20pt;
    font-weight: 900;
}

.chat {
    position: relative;
}

.modelagem {
    margin-top: 20px;
    padding: 2px;
    background-color: rgba(200, 213, 255, 0.37);
    padding: 10px;
}

.opcao {
    opacity: 100%;
    position: relative;
    top: 50px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}