body {
    background: linear-gradient(to top, #00ccff, #0051ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/*h1 {
    position: absolute;
    margin-top: -20%;
    font-weight: bolder;
    font-size: 20pt;
}*/

.login {
    position: absolute;
    margin-top: -70%;
    width: 150px;
}

form {
    position: relative;
    top: 150px;
}

small {
    top: 520px;
    font-size: 12pt;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px rgb(134, 134, 134);
}

form .button {
    border-radius: 20px;
    width: 60vw;
    padding: 10px;
    font-family: 'Trispace', sans-serif;
}

@media screen and (max-width: 900px) and (min-width: 600px) {
    .login {
        margin-top: -200px;
    }
}

@media screen and (max-width: 1300px) and (min-width: 900px) {
    .login {
        margin-top: -200px;
        max-width: 350px;
    }
    form {
        top: 250px;
    }
}