.icons {
    width: 40px;
    height: 50px;
}

#menu {
    margin: 0px;
    top: 0px;
    position: relative;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

body {
    background-color: rgba(200, 213, 255, 0.37);
}

.conteudo {
    position: relative;
    margin-top: 0px;
    padding: 2px;
    padding: 10px;
}

.usuarios {
    width: 80px;
    position: relative;
    height: 70px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    float: left;
}

.nomes {
    position: relative;
    top: 5px;
    font-size: 12pt;
    font-weight: 700;
    color: #2d6ba8;
}

span {
    top: 0px;
    font-size: 10pt;
    position: relative;
    left: 30%;
}

.postagem {
    position: relative;
    padding: 20px;
    color: blue;
    font-size: 11pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.post {
    margin-top: 20px;
    border-radius: 90px;
}

#post {
    position: relative;
    width: 90px;
    padding: 10px;
    height: 70px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255)
}


/*
.reacoesl,
.reacoesc {
    width: 25px;
    height: 25px;
    position: relative;
    top: 25px;
    float: right;
}*/


/*
.coment {
    position: relative;
    top: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.212) 0px 0px 10px;
    width: 100%;
    height: 40px;
    border-radius: 50px;
    border: none;
}
*/

.coment2 {
    position: relative;
    width: 350px;
    height: 60px;
}

.botaoteste {
    width: 40px;
    height: 50px;
    position: relative;
    float: right;
}