.icons {
    width: 40px;
    height: 50px;
}

#menu {
    margin: 0px;
    position: relative;
    top: 10px;
    background-color: rgb(255, 255, 255);
}

.conteudo {
    position: relative;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.144);
    background-color: rgba(200, 213, 255, 0.37);
    box-shadow: 0px 2px 10px rgba(90, 90, 90, 0.322);
    padding: 10px;
}

.usuarios {
    width: 80px;
    position: relative;
    height: 80px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    float: left;
}

.nomes {
    position: relative;
    top: 15px;
    font-size: 15pt;
    font-weight: 700;
}

span {
    top: 5px;
    font-size: 10pt;
    position: relative;
    left: 70px;
}

.postagem {
    position: relative;
    padding: 20px;
    color: blue;
    font-size: 12pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.post {
    margin-top: -20px;
    border-radius: 90px;
    background-color: rgba(255, 255, 255, 0.048)
}

#post {
    position: relative;
    width: 90px;
    padding: 10px;
    height: 70px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255)
}

.reacoesl,
.reacoesc {
    width: 25px;
    height: 25px;
    position: relative;
    top: 25px;
    float: right;
}